<!DOCTYPE html>
<html>
  <head>
    <title>Name</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>

  <%= tag.header render 'layouts/navbar' if user_signed_in? %>

  <body>
    <%= tag.p notice, class: 'notice' if notice %>
    <%= tag.p alert, class: 'alert' if alert %>
    <main><%= yield %></main>
  </body>
</html>
